<app-navbar></app-navbar>
<div class="home-user page-base">
	<div class="home-header">
		<div class="banner">
			<img class="cover-img img" src="assets/images/banner-test.jpg" alt="banner">
		</div>

    <div class="pr">
		  <div class="base-profile center">
			  <div class="profile">
				  <div class="photo-profile">
					  <img 
						  class="cover-img img circular-img"
						  [src]="url+'/image/'+profile.photo" 
						  [alt]="profile.photo"
					  >
				  </div>
			  </div>
		  </div>
		  <ul class="information-profile">
			  <li class="name-profile">{{ profile.username }}</li>
			  <li class="email-profile">{{ profile.email }}</li>
			  <li class="age-profile">{{ profile.birthdate | age}} year old</li>
		  </ul>
      <button (click)="goEditProfile()" type="button" class="btn btn-primary btn-large">
       Edit Profile
      </button>
    </div>

    <hr class="my-4">
	</div> <!-- end home-header-->

	<div class="home-lists">
	  <div class="list">
      <div class="cover-content">
      <img class="img cover-img" src="assets/images/re.jpg" alt=""/> 
      </div>
      <div class="cover-shadow">
        <a class="link-list" routerLink="/list"></a>
        <div class="name-list">
          <h4>Name List </h4>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="cover-content">
      <img class="img cover-img" src="assets/images/dmc5.jpg" alt=""/> 
      </div>
      <div class="cover-shadow">
        <a class="link-list" routerLink="/list"></a>
        <div class="name-list">
          <h4>Name List</h4>
        </div>
      </div>
    </div>

  </div> <!-- end home-lists-->
</div>
<div class="btn-add btn-circle">
  <button class="btn">
    <img class="material-icons md-30 md-light" src="assets/icons/add.svg" alt="icon-add">
  </button>
</div>

