<app-navbar></app-navbar>
<div class="home-user page-base">
	<div class="home-header">
		<div class="banner">
			<img class="cover-img img" src="assets/images/banner-test.jpg" alt="banner">
		</div>

    <div class="pr">
		  <div class="base-profile center">
			  <div class="profile">
				  <div class="photo-profile">
					  <img 
						  class="cover-img img circular-img"
						  [src]="url+'/image/'+profile.photo" 
						  [alt]="profile.photo"
					  >
				  </div>
			  </div>
		  </div>
		  <ul class="information-profile">
			  <li class="name-profile">{{ profile.username }}</li>
			  <li class="email-profile">{{ profile.email }}</li>
			  <li class="age-profile">{{ profile.birthdate | age}} year old</li>
		  </ul>
      <button (click)="goEditProfile()" type="button" class="btn btn-primary btn-large">
       Edit Profile
      </button>
    </div>

    <hr class="my-4">
	</div> <!-- end home-header-->

	<div
    class="home-lists" 
    *ngIf="lists.length !== 0; else noList"
  >
    <div 
      class="list" 
      *ngFor="let list of lists"
    >
      <div class="cover-content">
      <img
        *ngIf="list.photoList !== null"
        class="img cover-img" 
        [src]="url+'/image/'+list.photoList" 
        [alt]="list.nameList"
      />
      <img
        *ngIf="list.photoList === null"
        class="img cover-img"
        src="assets/images/no-image.png"
        alt="no-imagen"
      />
      </div>
      <div class="cover-shadow">
        <a 
          class="link-list" 
          [routerLink]="['/list', list.idList]"
        >
        </a>
        <div class="name-list">
          <h4>{{ list.nameList }} </h4>
        </div>
      </div>
    </div>
  </div> <!-- end home-lists-->
  <ng-template #noList>
    <div class="home-lists">
      <h4 class="center">Create a list</h4> 
    </div>
  </ng-template>

</div>
<app-btn-add (click)="createLists()"></app-btn-add>

