<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="btd">
    <a class="btn-theme" href="">
      <img class="material-icons md-30 md-light" src="assets/icons/brightness_4.svg" />
    </a>
  </div>
   <a href="#" class="navbar-brand center">Games Lists</a>
  <div class="brd">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <img class="material-icons md-30 md-light" src="assets/icons/menu-white.svg" alt="">
    </button>
  </div>

   <div class="collapse navbar-collapse" id="navbarToggle">
    <ul id="nav-mobile" class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item center">
        <button 
          type="button" 
          class="btn btn-outline-success my-2 my-sm-0" 
          (click)="signOut()">
            Sign out
        </button>
      </li>
    </ul>
  </div>
  
</nav>


