<div class="rating-game page-base">
  <div class="rating-header">
    <div class="bcd">
      <a (click)="backClick()">
        <img
          class="material-icons md-36 md-light"
          src="assets/icons/arrow_back-white.svg"
          alt=""
        />
      </a>
    </div>
    <div class="nm">
      <h1 class="center title-primary">
        Add Game
      </h1>
      <hr class="my-4" />
    </div>
  </div>
  <div class="rating-body">
    <form [formGroup]="form" class="container" (submit)="createRating()">
      <div class="form-group row">
        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="games">Options</label>
            </div>
            <select class="custom-select" id="games" formControlName="games">
              <option [ngValue]="null" selected> Games </option>
              <option *ngFor="let game of gamesList" [ngValue]="game.idGame">
                {{ game.nameGame }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="selectConsole"
                >Options</label
              >
            </div>
            <select
              class="custom-select"
              id="selectConsole"
              formControlName="consoles"
            >
              <option [ngValue]="null" selected> Consoles </option>
              <option
                *ngFor="let console of consolesList"
                [ngValue]="console.idConsole"
              >
                {{ console.nameConsole }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <input
            class="form-control"
            name="rating"
            type="number"
            placeholder="Rating"
            formControlName="rating"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="form-check form-check-inline">
          <div class="col">
            <input
              class="form-check-input"
              type="radio"
              id="inlineRadio1"
              name="finalized"
              formControlName="finalized"
              [value]="0"
            />
            <label class="form-check-label" for="inlineRadio1"
              >No finalized</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="inlineRadio2"
              name="finalized"
              formControlName="finalized"
              [value]="1"
            />
            <label class="form-check-label" for="inlineRadio2">Finalized</label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-large">
        Add
      </button>
    </form>
  </div>
</div>
