body {
	margin: 0;
	padding: 0;
	background: rgb(0,0,0);
	background: -webkit-linear-gradient(360deg, rgba(9,9,9,1), rgba(35,35,35,1));
	background: -o-linear-gradient(360deg, rgba(9,9,9,1), rgba(35,35,35,1));
	background: linear-gradient(360deg, rgba(9,9,9,1), rgba(35,35,35,1)); 
}
:root {
	--main-color-text: #f1f1f1;
	--main-color-input: #242424;
	--main-color-text-input: #5D5D5D;
	--main-color-btn: #7454C9;
	--main-color-btn-hover: #7648EE;
}
.approot{
	display: grid;
	grid-template-rows: 1fr 100px;
}
/*Texts*/
.center {
	display: block;
	text-align: center;
}
.title-primary {
	margin: 0;
	font-size: 48px;
	color: var(--main-color-text) !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* Pages dimention */
.page-base {
	  display: grid;
	  grid-template-areas: "header"
											   "body";
	  max-width: 90%;
	  margin: 30px auto; 
}
.home-user {
    margin:90px auto 30px auto;
}
.login, .register {
    min-height: 420px;
	  grid-template-rows: 150px 1fr; 
}

/*Buttons*/
.btn{
	border-radius: 10px;
	min-height: 45px;
}
.btn-primary {
	background-color: var(--main-color-btn);
	border-color: var(--main-color-btn);
	color: var(--main-color-text);
	font-weight: 400;
}
.btn-primary:hover{
	background-color: var(--main-color-btn-hover);
	border-color: var(--main-color-btn-hover);
}
.btn-large {
	width: 100%;
}
.btn-add{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: #7454C9;
	position: fixed;
	right: 10px;
	bottom: 20px;
}
.btn-add button{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-circle {
	border-radius: 100%;
}

/* Boxes */
.cover-content{
	border-radius: 20px;
	height: 100%;
	left:0;
	position: absolute;
	top: 0;
	width: 100%;
	background: #444;
}
.cover-content img{
	border-radius: 10px;
}
.cover-shadow{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	border-radius: 20px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	height: 100%;
	color: var(--main-color-text);
}
.cover-shadow .link-list,
.cover-shadow .link-game{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.cover-shadow .name-list {
	background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.75) 60%);
	display: flex;
  flex-wrap: nowrap;
  pointer-events: none;
  position: relative;
  width: 100%;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  flex-shrink: 0;
}
.cover-shadow .name-game{
  background: rgba(10, 1, 25, .4);
  width: 100%;
  padding: 15px;
  height: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
}
.cover-shadow .name-list h4,
.cover-shadow .name-game h4{
  font-weight: 700;
	font-size: 2rem;
	color: var(--main-color-text);
	margin-bottom: 0 !important;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, .6);
}
.cover-shadow .name-game h4{
  font-size: 1.5rem;
}
.cover-shadow .name-game .rate{
  font-size: 1.3rem;
  font-weight: 400;
}
.cover-shadow .name-game .trash{
  width: 35px;
  height: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
} 
.cover-shadow .name-game .trash img{
  width: 22px;
  height: 22px;
}

/* NAV */
.navbar {
	min-height: 60px;
 	position: fixed;
	z-index: 100;
	width: 100%;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: 100px 1fr 100px;
	padding: .5rem 1.2rem;
}
.btd{
	display: flex;
	align-items: center;
	justify-content: left;
}
.btn-theme {
	height: 30px;
	width: 30px;
}
.brd{
	text-align: right;
}
.navbar-brand{
	margin: 0 !important;
}
nav.bg-dark{
	background-color: rgba(39, 39, 39, 1) !important;
}
nav.bg-dark a{
	color: var(--main-color-text) !important;
}
.main {
	min-height: 490px;
	overflow: auto;
}

.img {
	display: inline-block;
	vertical-align: top;
}
.cover-img {
	object-fit: cover;
	object-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
	-o-background-size: cover;
	height: 100%;
	width: 100%;
}
.circular-img {
	border-radius: 100%;
}
/*Forms*/
form.container {
    padding-right: 5px;
    padding-left: 5px;
}
.form-group{
	  margin-bottom: 20px;
}
.custom-select,
.form-control, 
.custom-file-label,
.form-control:focus {
	  background: var(--main-color-input) !important;
	  border: 1px solid var(--main-color-input) !important;
	  color: var(--main-color-text-input) !important;
	  border-radius: 10px;
}
input.form-control:focus{
	  border-color: #80bdff;
} 
.resetBtn { display: none;}
.input-group-text,
.calendar,
.custom-file-label::after {
	  background: var(--main-color-input) !important;
	  border: 1px solid #424242 !important;
}
.btn-primary {
	  margin-top: 20px;
}
.btn-session:hover{
	  background-color: var(--main-color-btn-hover);
}

/*login and register*/
.login-wrapper-background {
	display: none;
}
.form-check-label,
.txt1 {
	color: #9e9e9e;
}
.form-check-label{
	margin-left: 5px;
}
.txt1{
	margin-top: 20px;
}
#remember {
	width: 15px;
	height: 15px;
}

/*Home*/
.home-header{
	grid-area: header;
	text-align: center;
}
.home-header .banner {
	display: block;
	min-width: 100%;
	height: 180px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
.home-header .banner img {
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	height: 100%;
	width: 100% ;
}
.home-header .base-profile{
	position: relative;
}
.home-header .base-profile .profile{
	display: inline-block;
	position: relative;
	vertical-align: bottom;
	text-align: center;
}
.home-header .base-profile .photo-profile {
	display: block;
	margin: 0 auto;
	border-radius: 100%;
	margin-top: -50%;
	border: 5px solid var(--main-color-text);
	width: 135px;
	height: 135px;
}
.home-header .information-profile{
	padding: 0;
	margin: 15px auto;
}
.home-header .information-profile li{
	list-style: none;
	font-size: 16px;
	color: var(--main-color-text) !important;
}
.home-header .information-profile .name-profile{
	font-size: 24px;
	font-weight: bold;
}
.my-4 {
	border-top: 2.5px solid #262626;
}
.home-lists {
  min-height: 150px; 
	margin: 0 auto;
	grid-area: body;
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fill, minmax(auto,350px));
}
.home-lists .list{
	min-height: 212px;
	width: 100%;
	border-radius: 20px;
	position: relative;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/*List User*/

.list-header,
.edit-header {
	display: grid;
	grid-area: "bcd"
						 "nm";
}
.list-body {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 1fr;
}
.game-body {
	min-height: 95px;
	border-radius: 10px;
	position: relative;	
}
.game-body .cover-img{
  object-position: top center;
}
/*Footer*/
footer{
	background-color: rgba(0,0,0,0.75);
}

/* Rules for sizing the icon. */
.material-icons.md-18 { width: 18px; height: 18px; }
.material-icons.md-24 { width: 24px; height: 24px; }
.material-icons.md-30 { width: 30px; height: 30px; }
.material-icons.md-36 { width: 36px; height: 36px; }
.material-icons.md-44 { width: 44px; height: 44px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { fill: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { fill: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { fill: var(--main-color-text); }
.material-icons.md-light.md-inactive { fill: rgba(255, 255, 255, 0.3); }

/* RESPONSIVE */

@media only screen and (min-width: 360px) {
	.approot{
		grid-template-rows: 1fr 150px;
	}
	.main{
		min-height: 665px;
	}
	.btn-session{
		height: 48px;
	}
}

/*@media only screen and (min-height: 800px){
	.approot{
		min-height: 825px;
	}
}*/

@media only screen and (min-width: 768px) {
	.approot{
		grid-template-rows: 1fr 200px;
	}
	.main{
		min-height: 820px;
	}

	/*Form*/
	form.container{
		padding-left: 60px;
		padding-right: 60px;
	}
	.form-control,
  .input-group,
  .input-group .custom-select,
	.custom-file input,
	.custom-file-label,
  .btn-primary{
		height: 50px; 
	}
	.custom-file-label,
  .btn-primary{
		font-size: 1.4em;
	}
	.custom-file-label::after{
		height: 49px;
	}
	.form-group{
		margin-bottom: 25px;
  }

  /*Register and login*/
	#remember {
		width: 25px;
		height: 25px;
	}
	.form-check-label{
		margin-left: 15px;
		font-size: 1.4em;
	}
	.txt1{
		font-size: 1.5em;
	}

  /*Home*/
  .home-header .banner {
      height: 230px;
  }
  .home-header .information-profile li{
      font-size: 1.5em;
  }
  .home-header .information-profile .name-profile{
      font-size: 34px;
  }
  .home-lists {
      margin: 0;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
  }
  .btn-add{
      width: 70px;
      height: 70px;
      right: 25px;
      bottom: 25px;
  }
  /**/
}

@media only screen and (min-width: 990px) {
  .navbar .brd{
    display: none;
  }
  .home-lists .list,
  .game-body {
    min-height: 280px; 
  } 
}

@media only screen and (min-width: 1024px) and (min-height: 1366px){
  body{
    height: 1366px;
  }
  .approot {
    height:100%;
  }
}

@media only screen and (min-width: 1300px) {
  /* Login and register */
  .login .title-primary,
  .register .title-primary {
    width: 500px; 
    border: 3px solid rgba(116, 84, 201, 0.4);
    border-bottom: 0;
    border-radius: 30px 30px 0 0; 
    margin: 0 auto;
    margin-top: 20px;
  }
  /* Home Desktop*/
  .navbar{
    height: 70px;
    padding: .5rem 2.5rem;
  }
  .navbar-brand{
    font-size: 30px;
  }
  .page-base {
   max-width: 100%;
  }
  .home-user {
    margin: 70px auto 30px auto;
  }
  .home-header{
    position: relative;
  }
  .home-header .banner,
  .home-header .banner img{
    border-radius: 0;
  }
  .pr {
    position: absolute;
    left: 55px;
    top: 60px;
    width: 365px;
    background-color: #242424;
    height: 550px;
    border-radius: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .home-header .base-profile .profile{
    position: inherit;
    vertical-align: inherit; 
  }
  .home-header .base-profile .photo-profile {
    margin-top: 0;
    border-radius: 0;
	  border: none;
    width: 100%;
    height: 300px;
  }
  .home-header .base-profile .photo-profile img{
    border-radius: 0;
  }
  .home-header .information-profile .name-profile {
    font-size: 30px;
  }
  .home-header .information-profile li {
    font-size: 1.3em;
  }
  .home-header button {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .my-4{ 
    display: none;  
  }
  .home-lists { 
    margin-left: 420px;
    padding: 55px;
    padding-left: 60px;
    grid-gap: 30px;
  }
  .home-lists .list {
    min-height: 330px;
    border-radius: 0;
  }
  .cover-shadow,
  .cover-shadow .name-list,
  .cover-content img,
  .cover-content,
  .list-user .game-body,
  .list-user .name-game{
    border-radius: 0;
  }
  .cover-shadow .name-list h4 {
    font-size: 28px;
  }
  
  /* Edit Profile */
  .bcd {
    width: 90%;
    margin: 0 auto;
  }
  .edit-header .nm,
  .rating-header .nm {
    width: 500px;
    border: 3px solid rgba(116, 84, 201, 0.4);
    border-bottom: 0;
    border-radius: 30px 30px 0 0;
    margin: 0 auto;
    padding-top: 40px;
  }
  form.container {
    max-width: 500px;
    min-height: 500px;
    padding-top:20px;
    border: 3px solid rgba(116, 84, 201, 0.4); 
    border-top:0;
    border-radius: 0 0 30px 30px;
  }  

  /* list */
  .list-user .my-4{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .list-body {
    width: 1100px;
    margin: 20px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  } 
  .list-body .game-body {
    min-height: 300px; 
  }

}

