<div class="list-user page-base">
  <div class="list-header">
    <div class="bcd">
      <a routerLink="/home">
          <img
              [class.md-44] ="screenSize.screenWidth >= 700"
              [class.md-36] ="screenSize.screenWidth < 700"
              class="material-icons md-light"
              src="assets/icons/arrow_back-white.svg" alt="" />
      </a>
    </div>
    <div class="nm">
      <h1 class="center title-primary">Name List</h1>
      <hr class="my-4">
    </div> 
    
  </div>
  <div class="list-body">
    <div class="game-body">
      <div class="cover-content">
        <img class="img cover-img" src="assets/images/game-test.jpeg" alt="">
      </div>
      <div class="cover-shadow">
        <a class="link-game" routerLink="/game-detail"></a>

        <div class="name-game">
          <h4>Final Fantasy XV - 8.4</h4>
        </div>
      </div>
    </div>    
  </div>
  <div class="btn-add btn-circle">
    <button class="btn">
      <img class="material-icons md-30 md-light" src="assets/icons/add.svg" alt="">
    </button>
  </div>

</div>
